/* Sections/Article */

section, article {
    margin-bottom: 3em;
}

    section > :last-child,
    section > .container, section:last-child, article > :last-child,
    article > .container, article:last-child {
        margin-bottom: 0;
    }

    .row > section, .row > article {
        margin-bottom: 0;
    }
